* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.header {
  background-color: #635854;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 4px solid #3596f5;
}
.navbar {
  max-width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.navbar-item {
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
}
.navbar-link {
  text-decoration: none;
  color: #fff;
}
.navbar-text {
  display: block;
  color: #fff;
  font-size: 12px;
}
.navbar-phone {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #fff;
  text-decoration: none;
}
